<div class="container">
  <h1 class="title">Parent Transactions</h1>
  <div *ngIf="parentTransactions$ | async as parentTransactions; else loading">
    <app-transactions-table [parentTransactions]="parentTransactions">

    </app-transactions-table>
  </div>
  <mat-paginator class="pagination"
                 [length]="7"
                 [pageSize]="2"
                 [disabled]="isLoading$ | async"
                 [showFirstLastButtons]="true"
                 aria-label="Select page"
                 (page)="pageChanged($event)"
  >
  </mat-paginator>
</div>


<ng-template #loading>
  <app-loading-spinner loadingMessage="Loading Parent Transactions"></app-loading-spinner>
</ng-template>
