/* This is a CSS stylesheet for the Children component's HTML template. The .title class sets the style for the title of the page, including the font size, color, and alignment. 
The .container class defines the layout for the container div, which contains all the content of the component. It sets the height of the container to 100% of the viewport height, 
and the width to 100%. The container is also set to be a flex container with a column layout, and its items are stretched to fill the container.

The @media rule applies only when the screen is wider than 1400px. In this case, the container width is set to 1370px, and it is horizontally centered on the page.

The .no-transactions class defines the style for a message that is displayed when there are no transactions to show. It sets the color and alignment of the text, 
and centers it vertically and horizontally within the container.

Finally, the button selector sets the style for all buttons in the component, including the maximum width, display, and margin. The button is centered horizontally within the container. */

.title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
    margin: 0 auto;
  }
}

.no-transactions {
  color: white;
  text-align: center;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  max-width: 500px;
  display: block;
  margin: 20px auto 0;
}
